<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderdetailMapper">
  <resultMap id="BaseResultMap" type="com.entity.Orderdetail">
    <result column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="storeId" jdbcType="VARCHAR" property="storeid" />
    <result column="productId" jdbcType="VARCHAR" property="productid" />
    <result column="quantity" jdbcType="VARCHAR" property="quantity" />
  </resultMap>
  <insert id="insert" parameterType="com.entity.Orderdetail">
    <selectKey keyProperty="orderid" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orderDetail (orderId, storeId, productId, quantity
      )
    values (#{orderid,jdbcType=VARCHAR}, #{storeid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Orderdetail">
    <selectKey keyProperty="orderid" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orderDetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="findOrderdetail" parameterType="java.lang.String" resultType="Map">
	select a.quantity, d.office, b.storeName, substring(c.goodsDate,6) as goodsDate, c.productName, c.productIcon, c.productPrice
    from orderDetail a
    cross join storeList b on a.storeId=b.storeId and b.storeStatus='1'
    cross join goodsList c on a.productId=c.productId and c.productStatus='1'
    cross join orderList d on a.orderId=d.orderId and d.orderStatus='1'
    where a.orderid = #{orderid,jdbcType=CHAR}
    order by a.storeId, c.goodsDate, a.productId
  </select>
  
  <select id="findOrderdetailByDepartment" parameterType="java.lang.String" resultType="Map">
	select t.goodsDate, t.productId, t.productName, t.productIcon, sum(t.quantity) as quantity
	from (
	    select a.quantity, a.productId, substring(c.goodsDate,6) as goodsDate, c.productName, c.productIcon
	    from orderDetail a
	    cross join storeList b on a.storeId=b.storeId and b.storeStatus='1'
	    cross join goodsList c on a.productId=c.productId and c.productStatus='1'
	    cross join orderList d on a.orderId=d.orderId and d.orderStatus='1'
	    where 1=1
      	<if test="arg0 != null and arg0 != '' and arg0 != 'ALL' ">
        	and d.department = #{arg0,jdbcType=CHAR}
      	</if>
	    <if test="arg1 != null and arg1 != '' and arg1 != 'ALL'">
        	and d.office = #{arg1,jdbcType=CHAR}
      	</if>
	    <if test="arg2 != null and arg2 != '' and arg2 != 'ALL'">
        	and substring(c.goodsDate,6) = #{arg2,jdbcType=CHAR}
      	</if>
	) t
	group by t.goodsDate, t.productId
	order by t.goodsDate, t.productId
  </select>
  
  <select id="findOrderDepartment" parameterType="java.lang.String" resultType="Map">
    select distinct department
    from orderList
    where orderStatus='1'
    order by department
  </select>
  
   <select id="findOrderOffice" parameterType="java.lang.String" resultType="Map">
    select distinct substring(goodsDate,6) as goodsDate
    from goodsList
    where productStatus='1'
    order by goodsDate
  </select>    
  
    <select id="findOrderDetailList" parameterType="java.lang.String" resultType="Map">
	    select c.productName, d.department, e.username, c.productIcon, substring(c.goodsDate,6) as goodsDate, d.section
	    from orderDetail a
	    cross join storeList b on a.storeId=b.storeId and b.storeStatus='1'
	    cross join goodsList c on a.productId=c.productId and c.productStatus='1'
	    cross join orderList d on a.orderId=d.orderId and d.orderStatus='1'
        cross join userinfo e on d.openid=e.openid
	    where 1=1
      	<if test="arg0 != null and arg0 != '' and arg0 != 'ALL' ">
        	and d.department = #{arg0,jdbcType=CHAR}
      	</if>
	    <if test="arg1 != null and arg1 != '' and arg1 != 'ALL'">
        	and d.office = #{arg1,jdbcType=CHAR}
      	</if>
	    <if test="arg2 != null and arg2 != '' and arg2 != 'ALL'">
        	and substring(c.goodsDate,6) = #{arg2,jdbcType=CHAR}
      	</if>
        order by c.goodsDate, c.productId, d.department, e.username
  </select>
  
</mapper>