<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.mapper.UserInfoMapper">  

    <!-- insert userInfo -->
    <insert id = "insertUserInfo" parameterType="com.entity.UserInfo">
        INSERT INTO userinfo (openid, name, mobile, department, office, floor, section) 
        VALUES (#{openid}, #{name}, #{mobile}, #{department}, #{office}, #{floor}, #{section});
    </insert>
    
    <!-- update userInfo -->
    <update id="updateUserInfo" parameterType="com.entity.UserInfo">
        UPDATE userinfo 
        SET openid=#{openid}, name=#{name} , mobile=#{mobile} ,  department=#{department}, office=#{office}, floor=#{floor} , section=#{section}
        WHERE id=#{id}
    </update>
    
    <!-- find userInfo -->
    <select id="findUserInfo" parameterType="java.lang.String" resultType="com.entity.UserInfo">
        SELECT *
        FROM userinfo 
        WHERE openid=#{0}
    </select>
    
    <!-- delete userInfo -->
    <delete id="deleteUserInfo" parameterType="int">
        DELETE FROM userinfo 
        WHERE id=#{0}
    </delete>
</mapper>